@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro&display=swap');

.section-title {
    font-size: 32px;
    font-weight: 600;
}

.section-subtitle {
    font-size: 26px;
    font-weight: 500;
}

.paragraph {
    font-size: 18px;
    font-weight: 400;

    &--link {
        font-size: 22px;
        font-weight: 400;

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
}

.paragraph-small {
    font-size: 14px;
    font-weight: 400;
}